# Ignore local environment configs
.env
*.env
.env.local

# Ignore node modules
node_modules/
dist/
npm-debug.log*

# Ignore sensitive files in admin dashboard
admin-dashboard/wallet.json
admin-dashboard/.env.local
admin-dashboard/env.local
admin-dashboard/.env.local.txt
admin-dashboard/env.local.txt
**/wallet.json

# IGNORE SETUP, README AND TESTS FOR LOCAL USE ONLY
README.md
start-admin.bat
tests/
